//<------------------------Components------------------------->

// <-----------header styles--------------->

.header_page {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: rgb(240, 156, 0);
  align-items: center;
  .home_icon{
    margin-left: 50px;
    cursor: pointer;
  }
  .logo {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    
  }
  .header_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    p{
      margin: 0px;
    }
  }
  .user_logo{
    display: flex;
    align-items: center;
    gap: 5px;
    .user_icon{
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      background-color: beige;
    }
    // padding: 10px;
  }
}

// <-----------Product upload--------------->

.productUploadPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .productForm {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    .imageView {
      display: flex;
      flex-direction: row;
      //   justify-content: center;
    }
  }
}

//<-------------footer styles------------------>
.footer_page {
  padding: 50px;
  background-color: #fafafa;
  margin-top: auto;
}
